h1{
    font-family: Arial;
    color: blue;
  }
  body{
    margin: 25px 25px;
  }
  canvas{
    width: 400px;
    height: 200px;
    border: 1px solid lightgray;
  }
  input{
    font-size: 15px;
  }